@import '/node_modules/@angular/material/theming';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@include mat-core();
@include angular-material-theme($theme);
@include angular-material-typography($custom-typography);

body {
  margin: 0;
}

.mat-card-content {
  padding: 16px;
}

.highlight {
  background-color: #FFF619A1;
}
